<br>
<br>
<br>
<br>
<br>



<% provide(:title, 'Project details') %>
<div>
  <div class = "row">
    <div class="span6 offset3">

      <%= form_for(@client) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, :disabled => true%>

        <%= f.label :counrty %>
        <%= f.text_field :country, :disabled => true%>

    <% end %>
    </div>
  </div>
</div>