<div class="center hero-unit">
  <div class="row">
<br><br>
      <h2>
        <%= link_to "Add Project", new_project_path %><br>
        <%= link_to "Add Client", new_client_path %>
      </h2>
      
      <table class="table table-hover">
           <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Bill Type</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>End Date</th>
                <th>Giturl</th>
                <th>Status</th>
                <th>Client</th>
                <th>Actions</th>
              </tr>
            </thead>
        <% @projs.each do |p| %>
          <tr>
            <td><%=p.id%></td>
            <td><%=p.name%></td>
            <td><%=p.code%></td>
            <td><%=p.description%></td>
            <td><%=p.billtype%></td>
            <td><%=p.startdate%></td>
            <td><%=p.deadline%></td>
            <td><%=p.enddate%></td>
            <td><%=p.giturl%></td>
            <td><%=p.status%></td>
            <td><%=p.client.name%>
            <td><%=link_to "View", project_path(p.id) %> <%=link_to "Edit", edit_project_path(p.id) %> <%=link_to "Del",project_path(p.id) ,method: :delete %>
          </tr>
        <% end %>
    </table>
      <%= will_paginate @projs %>
  </div>
</div>